<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="serviceProxyAcl" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <sessionState mode="Off" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="RestResponseHandler" />
      <add name="RestResponseHandler" type="RestFoundation.HttpResponseModule, RestFoundation, Version=1.0.0.0, Culture=neutral" />
    </modules>
    <handlers>
      <remove name="BlockViewHandler" />
      <add name="BlockViewHandler" path="*.aspx" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
    </handlers>
  </system.webServer>

  <!-- Uncomment the section below to IP filter access to the service proxy -->
  <!--
  <serviceProxyAcl>
    <add key="LocalIP" value="127.0.0.1" />
    <add key="LocalIPv6" value="::1" />
    <add key="NonRoutableSubnetA" value="10.0.0.0/8" />
    <add key="NonRoutableSubnetB" value="176.16.0.0/12" />
    <add key="NonRoutableSubnetC" value="192.168.0.0/16" />
    <add key="NonRoutableSubnetIPv6" value="fe80:0:0:0:0:0:0:0-fe80:0:0:0:ffff:ffff:ffff:ffff" />
  </serviceProxyAcl>
  -->
</configuration>
