<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:srv="http://starsoft.io/srvhtml">
<head>
    <title>Sample Website</title>
    <meta charset="utf-8" />
    <srv:css-bundle url="~/bundles/css" />
    <srv:section name="head" />
    <script type="text/javascript" src="~/scripts/jquery-2.0.3.min.js"></script>
</head>
<body>
    <srv:body />
    <srv:section name="scripts" />
    <footer>
        <srv:partial url="~/views/shared/footer.partial.html" />
    </footer>
</body>
</html>
