<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="serviceProxyAcl" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5" />
    <sessionState mode="Off"/>
    <httpHandlers>
      <add path="*.aspx" verb="*" type="System.Web.HttpNotFoundHandler"/>
    </httpHandlers>
    <httpModules>
      <add name="RestFoundation" type="RestFoundation.RestHttpModule, Rest.Foundation, Version=2.0.2.0, Culture=neutral, PublicKeyToken=8c29fffe1eceb538"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="WebDAV"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="BlockViewHandler"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
      <add name="BlockViewHandler" path="*.aspx" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler"/>
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule"/>
      <remove name="RestFoundation"/>
      <add name="RestFoundation" type="RestFoundation.RestHttpModule, Rest.Foundation, Version=2.0.2.0, Culture=neutral, PublicKeyToken=8c29fffe1eceb538"/>
    </modules>
  </system.webServer>
  <!-- Comment out the section below to disable IP filter access to the service proxy -->
  <serviceProxyAcl>
    <add key="LocalIP" value="127.0.0.1"/>
    <add key="LocalIPv6" value="::1"/>
    <add key="NonRoutableSubnetA" value="10.0.0.0/8"/>
    <add key="NonRoutableSubnetB" value="176.16.0.0/12"/>
    <add key="NonRoutableSubnetC" value="192.168.0.0/16"/>
    <add key="NonRoutableSubnetIPv6" value="fe80:0:0:0:0:0:0:0-fe80:0:0:0:ffff:ffff:ffff:ffff"/>
  </serviceProxyAcl>
</configuration>